<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>NEEDIT, GOT IT</title>
</head>
<body>
  <h1>NEED IT GOT IT</h1>
  <div class="topnav">
    <a href="/stores">STORES</a>
    <a href="/logout">LOG OUT</a>
    <a href="/auth/google" class="login">LOG IN&nbsp;</a>
  </div>


  <h1>Stores</h1>

<form id="new-form" action="/stores" method="POST">
  <label>Store Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Store">
</form>
  <table id="stores">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <% stores.forEach(function(s) { %>
        <tr>
          <td><form id="delete-store" action="/stores/<%= s.id %>?_method=DELETE" method="POST">
            <button type="Submit">Delete</button>
          </form>
        </td>
          <td><%= s.name %></td>
          <td><a href="/stores/<%= s._id %>">Make A List</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <thead>
      <tr>
      </tr>
    </thead>
    </table>
</body>
</html>