<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>NEED IT, GOT IT</title>
</head>
<body>
  <h1>NEED IT GOT IT</h1>
  <div class="topnav">
    <a href="/stores">STORES</a>
    <a href="/logout">LOGOUT</a>
    <a href="/auth/google" class="login">LOG IN&nbsp;</a>
  </div>
  <form id="new-store" action="/stores" method="POST">
    <label>Store Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Add Store">
    <button type="submit">GOT IT</button>
    </form>
</form>
</body>
</html>

